{{#if game}}
  {{#if game.startTime}}
  <div type='button' class='btn btn-danger' onclick="javascript:stopGame({{game.id}})">Stop Game</div>
  {{else}}
  <div type='button' class='btn btn-success' onclick="javascript:startGame({{game.id}})">Start Game</div>
  {{/if}}
{{else}}
  <p>Welcome player: <b>{{user.username}}</b></p>
  <p>Click the below to start a new game</p>
  <div type='button' class='btn btn-warning' onclick="javascript:createGame()">Create Game</div>
  {{#if completedGames}}
  <h3>Completed Games</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Score</th>
        <th scope="col">Duration</th>
      </th>
    </thead>
    <tbody>
      {{#each completedGames}}
      <tr>
        <td scope="row">{{this.id}}</td>
        <td scope="row">{{this.score}}</td>
        <td scope="row">{{this.durationInMs}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
{{/if}}
