
{{#if user}}
{{#unless isGuest}}
  {{#if isSelf}}
    <div style="width: 100%">
      <span class="float-left">User Profile</span>
      {{#if view}}
      <div class="float-right btn btn-primary" onclick="location.href='/profile/edit'">Edit</div>
      {{else}}
      <div class="float-right ml-2 btn btn-secondary" onclick="location.href='/profile'">Cancel</div>
      <div class="float-right btn btn-primary" onclick="javascript:submitProfileForm()">Submit</div>
      {{/if}}
    </div>
  {{/if}}
{{/unless}}
<form id="profileForm" method="POST" action="/api/user">
  <table class="table table-striped table-hover">
    <tr>
      <th scope="col">Username</th>
      <td scope="col">{{user.username}}</td>
    </tr>
    {{#unless isGuest}}
    <!--
    <tr>
      <th scope="col">Password</th>
      <td scope="col">Reset Password</td>
    </tr>
    -->
    <tr>
      <th scope="col">Level</th>
      <td scope="col">{{user.level}}</td>
    </tr>
    <tr>
      <th scope="col">Points</th>
      <td scope="col">{{user.points}}</td>
    </tr>
    <tr>
      <th scope="col">Games Played</th>
      <td scope="col">{{games}}</td>
    </tr>
    {{#if view}}
    {{#if isSelf}}
    <tr>
      <th scope="col">Email</th>
      <td scope="col">{{user.email}}</td>
    </tr>
    <tr>
      <th scope="col">Display Name</th>
      <td scope="col">{{user.displayName}}</td>
    </tr>
    <tr>
      <th scope="col">Age</th>
      <td scope="col">{{user.age}}</td>
    </tr>
    <tr>
      <th scope="col">Country</th>
      <td scope="col">{{user.countryId}}</td>
    </tr>
    <tr>
      <th scope="col">State</th>
      <td scope="col">{{user.stateId}}</td>
    </tr>
    <tr>
      <th scope="col">School</th>
      <td scope="col">{{user.schoolId}}</td>
    </tr>
    {{/if}}
    {{else}}
    <tr>
      <th scope="col">Email</th>
      <td scope="col"><input class="form-control" type="email" name="email" id="email" value="{{user.email}}"></input></td>
    </tr>
    <tr>
      <th scope="col">Display Name</th>
      <td scope="col"><input class="form-control" type="text" name="displayName" id="displayName" value="{{user.displayName}}"></input></td>
    </tr>
    <tr>
      <th scope="col">Age</th>
      <td scope="col">
        <input class="hidden" type="hidden" name="username" value="{{user.username}}"></input>
        <input class="form-control" type="number" name="age" id="age" value="{{user.age}}"></input>
        <!--
        <div class="checkbox">
          <label>Show Age<input class="form-control" type="checkbox" name="showAge" id="showAge" {{#if user.showAge}}checked="true"{{/if}}></input></label>
        </div>
        -->
      </td>
    </tr>
    <tr>
      <th scope="col">Country</th>
      <td scope="col">
        <select name="countryId" id="country" class="form-control">
          {{#each country}}
          <option id="{{this.key}}" value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.value}}</option>
          {{/each}}
        </select>
      </td>
    </tr>
    <tr>
      <th scope="col">State</th>
      <td scope="col">
        <select name="stateId" id="state" class="form-control">
          {{#each state}}
          <option id="{{this.key}}" value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.value}}</option>
          {{/each}}
        </select>
      </td>
    </tr>
    <tr>
      <th scope="col">School</th>
      <td scope="col">
        <select name="schoolId" id="school" class="form-control">
          {{#each school}}
          <option id="{{this.key}}" value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.value}}</option>
          {{/each}}
        </select>
        <!--
        <div class="checkbox">
          <label>Show School<input class="form-control" type="checkbox" id="showSchool" name="showSchool" {{#if user.showSchool}}checked="true"{{/if}}></input></label>
        </div>
        -->
        <button type="button" class="btn btn-warning" data-toggle="popover" title="Coming soon" data-content="This functionality will come soon. Please be patient">Add School</button>
      </td>
    </tr>
    {{/if}}
    {{/unless}}
  </table>
</form>
{{/if}}
